@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,400;0,700;1,400&display=swap');

/* Remove default padding */
* {
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
}
@media print {
	body {
		font-size: 12pt;
		font-weight: 400;
	}
}

body {
	background-color: #ebd5b3 !important;
}

#doc-title {
	padding-left: 5%;
	color: rgb(60, 88, 68);
}
.nav-link {
	height: 40px;
	padding: 0px 20px;
}

#navbar {
	height: 100%;
	width: 350px;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: rgb(255, 235, 205);
	overflow-x: hidden;
	overflow-y: hidden;
	padding-top: 60px;
	transition: 0.5s;
	border-right: solid;
	border-color: rgba(27, 29, 29, 0.75);
}

a {
	text-decoration: none;
	color: black;
	border-top: solid 1px;
	border-color: rgba(27, 29, 29, 0.75);
}
#main-doc {
	padding-left: 450px;
	padding-top: 50px;
}

code {
	color: rgb(255, 0, 0) !important;
}
#footer-space {
	height: 100px;
	width: auto;
	padding-bottom: 100px;
}
